@model BusSystem.Model.User.UpdatePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Partner/Shared/_Layout.cshtml";
}

<section class="inner-banner bg_img" style="background: url(https://script.viserlab.com/viserbus/assets/images/frontend/breadcrumb/61f14e10b48871643204112.jpg) center">
    <div class="container">
        <div class="inner-banner-content">
            <h2 class="title">Change password</h2>
        </div>
    </div>
</section>
<div class="container padding-top padding-bottom">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-md-6">
            <div class="profile__content__edit p-0">
                <h5 class="title">Change Password</h5>
                <div class="p-4">
                    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                    {
                        <div class="alert alert-danger" role="alert">
                            @foreach (var modelError in Html.ViewData.ModelState.SelectMany(keyValuePair => keyValuePair.Value.Errors))
                            {
                                <p style="margin-bottom: 0px !important">@modelError.ErrorMessage</p>
                            }
                        </div>
                    }
                    <form asp-route="partner.user_change_password.post" method="post" class="register">
                        <div class="input-group">
                            <label for="password" class="form-label">Current Password</label>
                            <input type="password" class="form-contorl form--control radius-0" id="password" asp-for="OldPassword" required="">
                        </div>
                        <div class="input-group hover-input-popup mt-2">
                            <label for="password" class="form-label">Password</label>
                            <input id="password" type="password" class="form-contorl form--control radius-0" asp-for="Password" required="" autocomplete="current-password">
                        </div>
                        <div class="input-group mt-2">
                            <label for="confirm_password" class="form-label">Confirm Password</label>
                            <input id="password_confirmation" type="password" class="form-contorl form--control radius-0" asp-for="ConfirmPassword" required="" autocomplete="current-password">
                        </div>
                        <div class="input-group mt-4">
                            <input type="submit" class="btn btn--base" value="Change Password">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {

    <script>
        let mess = "@TempData["message"]"
        if (mess) {
            notify("success", mess)
        }
    </script>
}