@using Microsoft.AspNetCore.Identity
@inject SignInManager<BusSystem.Entity.IdentityAccess.User> SignInManager
@inject UserManager<BusSystem.Entity.IdentityAccess.User> UserManager
<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<!-- Mirrored from script.viserlab.com/viserbus/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 Jun 2022 19:22:01 GMT -->
<!-- Added by HTTrack -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> ViserBus - Home</title>
    <meta name="title" Content="ViserBus - Home">
    <meta name="description" content="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit">
    <meta name="keywords" content="ViserBus,bus booking system,bus booking php script,single vendro bus booking system">

    <link rel="shortcut icon" type="image/x-icon" href="~/Partner/assets/images/logoIcon/favicon.png">


    <link rel="apple-touch-icon" href="assets/images/logoIcon/logo.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="ViserBus - Home">

    <meta itemprop="name" content="ViserBus - Home">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="assets/images/seo/6210e34d4726e1645273933.png">

    <meta property="og:type" content="website">
    <meta property="og:title" content="ViserBus - Bus Ticket Booking System">
    <meta property="og:description" content="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit ff">
    <meta property="og:image" content="assets/images/seo/6210e34d4726e1645273933.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
    <meta property="og:url" content="https://script.viserlab.com/viserbus">


    <!-- BootStrap Link -->
    <link rel="stylesheet" href="~/Partner/assets/templates/basic/css/bootstrap.min.css">
    <!-- Icon Link -->
    <link rel="stylesheet" href="~/Partner/assets/global/css/all.min.css">
    <link rel="stylesheet" href="~/Partner/assets/global/css/line-awesome.min.css">
    <link rel="stylesheet" href="~/Partner/assets/templates/basic/css/flaticon.css">

    <!-- Plugings Link -->
    <link rel="stylesheet" href="~/Partner/assets/templates/basic/css/slick.css">
    <link rel="stylesheet" href="~/Partner/assets/global/css/select2.min.css">
    <link rel="stylesheet" href="~/Partner/assets/templates/basic/css/jquery-ui.css">

    <!-- Cookie Link -->
    <link rel="stylesheet" href="~/Partner/assets/templates/basic/css/cookie.css">
    <!-- Custom Link -->
    <link rel="stylesheet" href="~/Partner/assets/templates/basic/css/main.css">
    <link rel="stylesheet" href="~/Partner/assets/templates/basic/css/custom.css">
    <link rel="stylesheet" href="~/Partner/assets/templates/basic/css/colorf972.css?color=0E9E4D">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="~/Partner/assets/css/custom.css">

</head>

<body>
    <div class="overlay"></div>

    <!-- Preloader -->
    <div class="preloader">
        <div class="loader-wrapper">
            <div class="truck-wrapper">
                <div class="preloader-content">ViserBus</div>
                <div class="truck">
                    <div class="truck-container"></div>
                    <div class="glases"></div>
                    <div class="bonet"></div>

                    <div class="base"></div>

                    <div class="base-aux"></div>
                    <div class="wheel-back"></div>
                    <div class="wheel-front"></div>
                    <div class="smoke"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader -->
    <!-- Header Section Starts Here -->
    @if (SignInManager.IsSignedIn(User))
    {
        <partial name="Header.cshtml" />

    }
    @RenderBody()

 

    <a href="javascript::void()" class="scrollToTop active"><i class="las la-chevron-up"></i></a>
    <script src="~/Partner/assets/global/js/jquery-3.6.0.min.js"></script>
    <script src="~/Partner/assets/templates/basic/js/bootstrap.min.js"></script>
    <script src="~/Partner/assets/templates/basic/js/slick.min.js"></script>
    <script src="~/Partner/assets/global/js/select2.min.js"></script>
    <script src="~/Partner/assets/templates/basic/js/jquery-ui.min.js"></script>
    <script src="~/Partner/assets/templates/basic/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/admin/js/moment.min.js"></script>
    <script src="~/Partner/assets/js/app.js"></script>


    <link rel="stylesheet" href="~/Partner/assets/global/css/iziToast.min.css">
    <script src="~/Partner/assets/global/js/iziToast.min.js"></script>


    <script>
        "use strict";
        function notify(status, message) {
            iziToast[status]({
                message: message,
                position: "topRight"
            });
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>


<!-- Mirrored from script.viserlab.com/viserbus/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 Jun 2022 19:22:15 GMT -->
</html>
